html, body {
  font-family: Special Elite;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  color: white;
}

.base{
  background-color: black;
  float: left;
  padding: 10px;
  width: 220px;
  text-align: center;
}

.menu {
  background-color: rgb(229, 44, 68);
  margin-left: 220px;
  padding: 10px;
  padding-right: 30px;
  text-align: right;
}

#ficha {
  margin-top: 30px;
  font-family: Roboto;
  color:rgb(71, 69, 69);
  font-size: 12px;
  line-height: 6px;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

p {
  font-family: Roboto;
}

#table {
  width: 100%;
}

#margen {
  background-color: rgba(221, 221, 221, 0.2);
  height: 100%;
  float: left;
  width: 240px;
}

#about {
  margin-left: 240px;
  padding: 50px;
  width: 400px;
  font-size: 14px;
  color: black;
}
